{{#if taskList}}
<div class="taskHeaders">
   <div class="task">Task</div>
   <div class="taskDescription">Task Description</div>
   <div class="taskStatusBtnHolder">Modify</div>
</div>
<div class="taskDetails">
   {{#each taskList}}
   <div id="{{this._id}}" class="taskIdentifier">
      <div class="task"><span class="taskNo">{{addone @index}} ] </span>{{this.task}}</div>
      <div class="taskDescription">{{this.caseEndDetails}}</div>
      <div class="taskStatusBtnHolder">
         <button class='reopenTask'>Reopen</button>
      </div>
   </div>
   {{/each}}
</div>
<div class="buttonContainer">
   <button class="printJira" name="print">copy for Jira</button>
   <button class="listTasks" name="ListTask">List all tasks</button>
</div>
<div class="taskBoxHolder">
</div>
<div class="datePicker">
   <form method="post">
      <div class="getDate">Get tasks for the date:</div>
      <div class="dateInputHolder">
         {{!-- <label for="startDate">Task on :</label> --}}
         {{#if hasDate}}
         <input class="strDate" value = {{taskList.0.updatedAt}} type ="date" name="startingDate">
         {{else}}
         <input class="strDate" type ="date" name="startingDate">
         {{/if}}
      </div>
      <div class="issueFinderDiv">
         <input type ="submit" class="findIssues" name="find">
      </div>
   </form>
</div>
{{else}}
<div class="noTaskAvail">No Task has been Removed on this day!</div>
<div class="buttonContainer">
   <button class="listTasks" name="ListTask">List all tasks</button>
</div>
<div class="datePicker">
   <form method="post">
      <div class="getDate">Get tasks for the date:</div>
      <div class="finderDiv">
         <div class="dateInputHolder">
            {{!-- <label for="startDate">Task on :</label> --}}
            <input class="strDate" type ="date" name="startingDate">
         </div>
         <div class="issueFinderDiv">
            <input type ="submit" class="findIssues" name="find">
         </div>
      </div>
   </form>
</div>
{{/if}}